img{
    
    max-width: 200px;
}
.row {
    display: flex;
  }
  
.col {
  display: flex;
  flex-direction: column;
}
  
.card {
  flex: 1;
}
.cardd {
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
.nav-wrapper{
  background-color:rgb(255, 0, 0);
}
body{
  background-color:rgb(255, 163, 250);
}
.formstart{
  text-align:center;
}